node_modules
# I deliberately did not include the .env file in the .gitignore file because I wanted to show the .env file in the repository. I know that this is not a good practice, but I wanted to show the .env file in the repository.
# .env
